* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #787878;
}

.header {
    display: flex;
    align-items: center;
    background-image: url("../img/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 22em;
    font-weight: 800;
}


nav ul {
    list-style: none;
    font-size: 0;
    background-color: #61448C;
}

nav li {
    display: inline-block
}

nav li a {
    font-size: 1rem;
    display: inline-block;
    padding: 10px 50px;
    margin: 0 2px;
    text-align: center;
    color: white;
    text-decoration: none;
}

nav li a:hover {
    background-color: white;
    color: #61448C;
}

h1{
    color: white;
}

h2{
    font-size: 2em;
    color: #4e4e4e;
}

.align-center{
    text-align: center;
}
